body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: $fontManrope;
    line-height: 24px;
    background-color: $darkBlue;
    color: $lightCyan;
}